@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* .ql-editor {
  padding: 0;
} */
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 6px;
  border-radius: 8px;
  background-color: #043f2d;
}

::-webkit-scrollbar-thumb {
  background-color: #eff8ff;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #043f2d;
}

/* Custom Swiper Pagination Styles */
.swiper-pagination-bullet {
  background: #939393;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #222831;
  opacity: 1;
}
